* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background: black;
}

.btnBox {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomNumsButton {
    padding: 10px;
    border-radius: 10px;
    margin: 50px auto;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    border: 1px solid cyan;
    background: none;
    transition: 200ms;
}

.randomNumsButton:hover {
    background: cyan;
    cursor: pointer;
    transition: 200ms;
    color: black;
}

.randomNumsButton:active {
    transform: scale(1.05);
    transition: 200ms;
}

.box {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: 1px solid cyan;
    color: white;
}
